# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a1d3edc277f7c3ba6d28de9e0160927c47987ffad6c32def3c209dbc43abd330e260c54c658946eaf54797dd209dc2598fcec4ddb929f4ac6f13659c39713d8b

test:
  secret_key_base: f96fa81fa4578d1c71b2c91e746b78ab81163a2eec1a410ec3b25f940b96d94d3d7197853c3063561eeaa91646477dc0d60a0657066baddf57f2d0bc76bb9bc3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
